<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.john.bbbbb" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".mainMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".highScores"
            android:label="@string/title_activity_high_scores"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".continueGame"
            android:label="@string/title_activity_continue_game"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".newGame"
            android:label="@string/title_activity_new_game" />
        <activity
            android:name=".BattleArena"
            android:label="@string/title_activity_battle_arena"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".SelectPower"
            android:label="@string/title_activity_select_power"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".OpeningCutscene"
            android:label="@string/title_activity_opening_cutscene"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".BattleSummary"
            android:label="@string/title_activity_battle_summary"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Loading"
            android:label="@string/title_activity_loading"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".FirstScene"
            android:label="@string/title_activity_first_scene"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SecondScene"
            android:label="@string/title_activity_second_scene"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AvoidScene"
            android:label="@string/title_activity_avoid_scene"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ThirdScene"
            android:label="@string/title_activity_third_scene"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LevelUp"
            android:label="@string/title_activity_level_up"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".FourthScene"
            android:label="@string/title_activity_fourth_scene"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

    </application>

</manifest>
