<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.john.bbbbb" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".highScores"
            android:label="@string/title_activity_high_scores" />
        <activity
            android:name=".newGame"
            android:label="@string/title_activity_new_game" />
        <activity
            android:name=".BattleArena"
            android:label="@string/title_activity_battle_arena"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SelectPower"
            android:label="@string/title_activity_select_power"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".OpeningCutscene"
            android:label="@string/title_activity_opening_cutscene"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".BattleSummary"
            android:label="@string/title_activity_battle_summary"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Loading"
            android:label="@string/title_activity_loading"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".FirstScene"
            android:label="@string/title_activity_first_scene"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SecondScene"
            android:label="@string/title_activity_second_scene"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AvoidScene"
            android:label="@string/title_activity_avoid_scene"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ThirdScene"
            android:label="@string/title_activity_third_scene"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LevelUp"
            android:label="@string/title_activity_level_up"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".FourthScene"
            android:label="@string/title_activity_fourth_scene"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".FifthScene"
            android:label="@string/title_activity_fifth_scene"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SpareScene"
            android:label="@string/title_activity_spare_scene"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SixthScene"
            android:label="@string/title_activity_sixth_scene"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SeventhScene"
            android:label="@string/title_activity_seventh_scene"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".justFriends"
            android:label="@string/title_activity_just_friends"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".tsundereTest"
            android:label="@string/title_activity_tsundere_test"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".goodFriends"
            android:label="@string/title_activity_good_friends"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".loveScene"
            android:label="@string/title_activity_love_scene"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EighthScene"
            android:label="@string/title_activity_eighth_scene"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".NinthScene"
            android:label="@string/title_activity_ninth_scene"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
